body{
  margin:0; 
  padding: 0; 
}

*{
  box-sizing: border-box;}


header{
 width: 100%;
 height: 280px;
 padding-top: 25px;
 overflow: hidden;
}

#MiddlesiteHeaderImage{
  display: none;
}

#FullsiteHeaderImage{
  display: none;
}

.headerimage{
  width: 100%;
  height: 100%;
}

.reglogin{
  position: fixed; 
  top: 0;
  width: 100%;
  height: 30px;
  color: white;
  padding: 5px 15px;
  background-color: #37B6EC;
  z-index: 100;
}
.regloginButton{
  display: flex;
  justify-content: space-between;
}

.regloginButton a{
 color: white;
 text-decoration: none;
}

.regloginButton a:hover{
  color: #16A3DE;
  background-color: white;
  padding: 0 5px;
}

.headerAsideContainer{
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0px;
}

.headerAside{
  display: none;
  width: 45%;
  height: 100%;
  background-color: #37B6EC;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 30px;
  padding: 10px 0;
  z-index: 11;
}

#headerRightAside{
  right: 0;
}

input[type="text"], input[type="email"], input[type="password"]{
  width: 70%;
}

input, button{

  color: black;
  padding: 2px 4px;
  border: 0;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 0.7rem;
  background-color: white;
}

label{
  color: white;
  font-size: 0.8rem;
  padding: 2px 4px;
}

.headerAsideContainer button{
  margin-top: 5px;
  font-size: 0.6rem;
  padding: 5px 10px;
}


.contactNav{
  display: none;
}


.contactLogo img{
  width: 80px;
}

.menu{
  list-style: none; 
  display: none; 
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  padding: 15px 0 0 0;
}

.menu li:last-child{
  margin-bottom: -20px;
}

.bi-list{
  font-size: 1.8rem;
  margin-left: 10px;
  margin-top: 5px;
  color: #16A3DE;
  font-weight: bold;
  position: absolute;
  
}

.navitems{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #16A3DE;
}
.navitems a{
  text-decoration: none;
  color: #16A3DE;
}

h1{
  position: absolute;
  top: 15px;
  text-align: center;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  padding: 5px 10px;
  font-size: 20px;
}

.headWelcome{
  position: relative;
  top: -98px;
  background-color:rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  text-align: center;
  margin: 0 auto;
}

.headWelcome h2{
 display: inline;
 font-size: 1rem;
}

.headWelcome div{
  margin-top: 10px;
  margin-bottom: 10px;
}


h2{
  font-weight: 400;
  text-align: center;
  padding: 5px 15px;
  margin: 0px auto ;
}

.content{
  margin-top: 35px;
}

main p{
  margin-bottom: 10px;
  line-height: 20px;
}

.imageContainer{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 15px auto;
}


.imageContainer img{
  width: 100%;
}

.infoSendContainer{
  display: flex;
  align-items: center;
  background-color: #37B6EC;
  padding: 20px 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.infoSendContent{
  width: 90%;
  display: flex;
  margin: 0 auto;
  height: 200px;
  align-items: center;
}

.infoSendContainer img{
  display: none;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  flex-grow: 1;
}

.infoSendMain{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 10;
}

.infoSendMain h2{
  margin: 0 auto 15px auto;
}

.infoSendHeader{
  width: 80%;
  font-size: 1.4rem;
  background-color: #37B6EC;
}

.infoSendForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoSendForm input[type="text"], input[type="email"], input[type="password"], .infoSendForm label{
  padding: 2px 4px;
}

.infoSendForm input[type="submit"]{
  padding: 5px 10px;
  margin-top: 10px;
}
 
.napelemgaleria, .napkollektorgaleria{
  width: 90%;
  margin: 10px 5%;
  background-color: rgba(193,193,193,0.1);
}

.galeria{
  margin-top: 15px;
  padding-top: 0.1px;
}

.galeria h2{
  margin-top: 0;
}

.galeria img{
  width: 100%;
  height: 200px;
}

h2{
  text-align: center;
  padding: 0;
  margin: 40px auto 10px auto;
  font-weight: 700;
}

h3{
  margin-bottom: 5px;
  text-align: center;   
}

p{
  margin: 0;
  text-align: justify;
}

.nextButton{
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.nextButton button{
  width: 120px;
  height: 40px;
  font-size: 0.8rem;
  background-color: #37B6EC;
  padding: 3px 5px;
  margin-top: 15px;  
}

.nextButton button a{
  text-decoration: none;
  color: white;
}

footer{
  background-color: #37B6EC;
  min-height: 250px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px !important;
  padding: 0 1%;
}

.contactFooter{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  padding-left: 25px;
}

.contactFooter .phoneContact, .contactFooter .smsContact{
  width: 90%;
  margin: 0 auto;
}


footer h4{
  font-size: 1.1rem;
  margin: 10px 0;
}

footer ul{
  padding-left: 5%;
  list-style: none;
  margin-top: 5px;
}

footer a{
  text-decoration: none;
  color: white;
}

.sourchePageContainer{
  width: 90%; 
}

.sourchePage{
  border-top: 1px solid #fff;
  padding-top: 25px;
  padding-left: 25px;
  margin-top: 25px;
}

.footeritems{
  font-size: 0.9rem;
  margin: 0 auto;
}

.opening{
  margin-top: 5px;
}

footer .contactLogo{
  text-align: center;
  padding-top: 20px;
}


ul.footerLinks {
  width: 90%;
  text-decoration: underline;
  padding-left: 0;
  border-top: 1px solid #fff;
  padding-top: 25px;
}

.footerLinks .navitems{
  text-align: left;
  font-size: 1rem;
  margin-bottom: 5px;
  padding-left: 25px;
  
}

.footerLinks .navitems a{
  color: #fff;
}

.footerNav{
  width: 90%;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #fff;
  padding-left: 25px;
}

.scrollTop{
  width: 50px;
  height: 50px;
  margin: -75px auto 0 auto;
  border: 1px solid #37B6EC;
  text-align: center;
  color: #37B6EC;
  background-color: #fff;
}

.scrollTop a{
  color: #37B6EC;
  line-height: 50px;
  display: inline-block;
  width: 100%;
}

.footerNav ul{
  padding: 0;
}

.clearfix{
  margin-top: 20px;
}

/***************Reszponzív*********************************/

@media (min-width: 400px){
  header{
    height: 350px;
  }

  .headerAsideContainer{
    height: 320px;
  }

  .headWelcome{
    width: 100%;
    top: -75px;
  }


  .headerAside{
    width: 45%;
    padding: 20px 0;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    width: 55%;
  }


  main {
    width: 100%;
    padding-top: 0.1px;
  }

  h2{
    font-size: 1rem;
  }

  .galeria img{
  width: 80%;
  margin: 10px 10%;
  height: 300px;
  }

  footer{
    flex-wrap: wrap;
    padding: 2%;
  }

  .contactFooter{
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
  }

  footer .contactLogo {
    text-align: center;
    width: 100%;
    padding-top: 40px;
  }

  .contactFooter .phoneContact, .contactFooter .smsContact{
    width: 50%;
    text-align: center;
  }

  .footerLinks .navitems {
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    padding-left: 0;
  }

  ul.footerLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  footer p{
    text-align: center;
  }

  .sourchePageContainer{
    width: 90%; 
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
  }

  .sourchePage{
    padding-top: 0;
    padding-left: 0;
    margin-top: 25px;
    border: 0;
  }

  footer h4{
    font-size: 14px;
  }

  .footerNav{
    padding-left: 0;
  }

  .clearfix{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

}

@media (min-width:576px){
  .headerAside {
    width: 35%;
  }

  input[type="text"], input[type="email"], input[type="password"]{
    width: 60%;
  }

}
@media (min-width:768px){
  header{
    height: 450px;
  }

  .headerAsideContainer{
    height: 420px;
  }

  .headerAside{
    padding: 40px 0;
  }

  h1{
    font-size: 22px;
    padding: 8px 16px;
  }

  label, input, button{
    font-size: 1rem;
  }

  label{
    padding: 8px 16px;
  }

  #MiddlesiteHeaderImage{
    display: none;
    height: 100%;
  }

  #FullsiteHeaderImage{
    display: block;
  }

  #MobileHeaderImage{
    display: none;
  }

  .reglogin{
    height: 35px;
    padding-top: 5px;
  }

  .regloginButton a{
    font-size: 1.2rem;
  }

  .bi-list{
    display: none;
  }

  .headWelcome, .topHeader{
    width: 70%;
  }

  .contactNav{
    display: flex;
    position: absolute;
    width: 70%;
    margin: 0 15%;
    background-color:rgba(255, 255, 255, 0.9);
    height: 115px;
    top: 15%;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #37B6EC;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }

  .menu li:last-child {
    margin-bottom: 5px;
  }

  .navitems{
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding: 5px 10px;
  }

  .navitems a{
    color: white;
    font-size: 16px;
  }

   .navitems a:hover {
    color: #16A3DE;
    background-color: white;
    cursor: pointer;
  }

  main {
    font-size: 1.1rem;
    margin-top: 30px;
  }

  .imageContainer:nth-child(even) .mainContent{
    order: 2;
  }

  .imageContainer {
    align-items: center;
    flex-wrap: nowrap;
    margin: 100px auto;
  }

  
  .imageContainer img {
    width: 50%;
    max-width: 350px;
    max-height: 300px;
    margin: 0 5%;
    padding-top: 20px;
  }
}

@media (min-width:992px){
  header{
    height: 600px;
  }

   .headerAsideContainer{
    height: 570px;
  }

  .navitems{
    font-size: 1rem;
  }

  .imageContainer{
    margin: 150px auto;
  }

  h1{
    font-size: 24px;
    padding: 12px 20px;
  }
  
  main {
    font-size: 1.2rem;
  }

  .mainContent{
    width: 50%;
  }

  .headWelcome, .topHeader{
    width: 70%;
    top: -250px;
    font-size: 22px;
  }

  .headWelcome h2 {
    font-size: 22px;
  }
  
  .galeria img {
    width: 45%; 
    margin: 2%;
  }

  .infoSendContainer img {
    display: inline;
  }


  .infoSendForm {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .infoSendData{
    margin-right: 10px;
  }
  
  .infoSendForm label {
    width: 10%;
    margin-right: 10px;
    text-align: right;
  }

  .infoSendForm input[type="submit"] {
    margin-top: 0px;
    margin-right: 10px;
    
  }

  #MiddlesiteHeaderImage{
  display: none;
  }

  #FullsiteHeaderImage{
    display: block;
  }
}

@media (min-width:1200px){
  header{
    height: 800px;
  }

  .headerAside {
    width: 25%;
  }

   .headerAsideContainer{
    height: 770px;
  }

  .headWelcome{
    top: -450px;
  }

  

  main {
    font-size: 1.3rem;
  }

  .navitems a{
    font-size: 18px;
  }

  .infoSendContent {
    width: 80%;
  }

  .infoSendForm input[type="text"], input[type="email"], input[type="password"], {
     width: 30%;
  }

 .infoSendForm label {
    width: 10%;
  }

  
}